@font-face {
    font-family: 'Cocogoose';
    src: url('Cocogoose-Light.woff2') format('woff2'),
        url('Cocogoose-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Think';
    src: url('ThinkBold.woff2') format('woff2'),
        url('ThinkBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

