.block-hightlight {
	background: #f9b655;
	font-family: 'Helvetica Neue LT Std';
	line-height: 16px;
	margin: 0 7.5px;
	padding: 5px;
	text-align: center;

	strong {
		color: #fff;
		display: block;
	};
}
