.menu-wrapper {
	align-content: baseline;
	align-items: center;
	align-items: baseline;
	display: flex;
	justify-content: flex-end;
	width: 100%;

	.right-nav {
		display: flex;
		position: relative;
		@media (max-width: 767px) {
			position: absolute;
			right: 10px;
			top: 25px;
		} 

		a {
			color: #fff;
			display: inline-block;
			font-family: 'IBM Plex Sans',sans-serif !important;
			font-size: 20px;
			font-weight: 800;
			margin-right: 10px;
			text-decoration: none;

			&:hover {
				color: #ffa500;
			} 
			@media (max-width: 1199px) {
				font-size: 16px;

			}
		}
	}
}

.menu-buttons {
	.elementor-widget-wrap {
		display: flex;
		justify-content: space-around !important;

		.elementor-element {
			width: auto !important;

			.elementor-button {
				background: none !important;
				border: 1px solid #001a70;
				border-radius: 0;
				color: #001a70 !important;
				text-transform: uppercase;
			}
		}
	}
}
