.sub-menu {
	display: none;
}

.current_page_parent {
	.sub-menu {
		background-color: rgba(0, 0, 0, 0.8);
		display: flex;
		justify-content: center;
		left: 0;
		margin-top: 10px !important;
		padding: 20px !important;
		position: absolute;
		width: 100vw;
		z-index: 9;

		a {
			color: #fff !important;
			display: inline-block;
			padding: 0 15px;
			pointer-events: none !important;
		}
	}   
}
