@use 'variables' as *;

section {
	margin-bottom: 30px;
	@media (max-width: 767px) {
		margin-bottom: 30px;
	}

}

.text-arial {
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: 500;
}

main a {
	color: $color-primary !important;
	text-decoration: underline;
	
}

.sk-secondary-data {
	color: $color-primary !important;
}

.wpcf7-list-item-label a,
a {
	color: $color-primary-dark;
}

.elementor-widget-text-editor,
p {
	font-family: 'IBM Plex Sans', sans-serif !important;
	font-size: 1.6rem;
	margin-bottom: 0 !important;

}

.text-right {
	text-align: right;
}

.text-40 .elementor-heading-title,
.text-40 p,
.text-40 {
	font-size: 40px !important;
	line-height: 50px !important;
	@media (max-width: 768px) { 
		font-size: 30px !important;
		line-height: 40px !important;
	}
} 

.text-30 .elementor-heading-title,
.text-30 p,
.text-30 {
	font-size: 25px !important;
	line-height: 40px !important;
	@media (max-width: 768px) { 
		font-size: 20px !important;
		line-height: 30px !important;
	}
} 

.text-22 p,
.text-22 {
	font-size: 22px;
	line-height: 32px;
	@media (max-width: 768px) { 
		font-size: 14px;
		line-height: 22px;
	}
} 

.text-12 p,
.text-12 {
	font-size: 1.2rem;
}

.text-8 p,
.text-8 {
	font-size: 0.8rem;
}

.text-plain b {
	display: block;
	font-size: 22px;
	padding: 20px 0;
}

.text-plain h2 {
	margin-bottom: 30px;
}

.text-plain p,
.text-plain {

	font-size: 17px;
	margin-bottom: 17px !important;
} 
/***** 
pasar a componente
******/
.post-vacature {
	margin-top: 70px;

	.wp-block-image.size-full img {
		width: 100%;
	}

	h1 {
		color: $color-primary;
		margin-bottom: 80px;
		text-align: center;	
	}

	h3 {
		color: $color-primary-dark;
		font-family: 'Cocogoose' !important;
		margin: 30px 0;
	}

	ul {
		padding-left: 30px !important;
		padding-top: 30px !important;

		li {
			margin-bottom: 10px;
		}
	}
}

.block-intro .title {
	color: #001a70;
}

.block-intro .subtitle {
	color: #7a7a7a;
	display: block;
	font-family: 'Helvetica Neue' !important;
	font-family: 300;
	font-size: 1rem !important;
	margin: auto;
	max-width: 600px;
}

.no-decoration {
	text-decoration: none !important;
}

.vacature {
	border-top: 1px solid #666;
	display: flex;
	justify-content: space-between;
	padding: 30px 0;

	span {
		display: inline-block;
		margin-right: 10px;
	}
}
