$light-gray: #eee;
$bg-body: #fff;
$color-white: #fff;
$color-black: #000;
$color-dark: #212121;
$color-primary-soft: hwb(208 21% 26%);
$color-primary: #22b9d8;
$color-secondary: #d9c2b6;
$color-default: #5a6473;
$color-hightlight: #e81f76;
$color-hightlight-soft: rgba (#e81f76, 0.6);
$color-primary-dark: #001a70;


$text-paragraph: 14px;
